.Editor {
	text-align: center;
	height: 200vh;
	box-shadow: 0vh 0vh 0.3vh 0vh rgb(0, 0, 0);
	background-color: rgb(138, 138, 138);
}
.aa{
	outline: none;
}
.ab{
	border: none;
}
.ba{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
