.HomeStories {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	/*border: 2px solid red;*/
	width: 680px;
}
.HomeStoriesWithImage {
	border: 0px solid red;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 430px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.HomeAuthor {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	/*border: 2px solid blue;*/
}
.HomeStoryTitle {
	background-color: white;
	text-align: left;
	font-size: 27px;
	color: black;
	border: 0px solid green;
	align-self: flex-start;
	margin: 0px;
}
.HomeStoryTitle:hover {
	background-color: white;
	outline: none;
	border: 0px solid green;
}
.HomeStoryTitle:focus {
	background-color: white;
	outline: none;
	border: 0px solid green;
}
.HomeStoryTitle:active {
	background-color: white;
	outline: none;
	border: 0px solid green;
}
.HomeStoryTitle:visited {
	background-color: white;
	outline: none;
	border: 0px solid green;
}
.HomeStoryIntro {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	font-size: 15px;
	/*border: 2px solid black;*/
	margin: 0px;
}
.HomeDateAndTag {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*border: 2px solid green;*/
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}
.HomeTag {
	background-color: black;
	/*border: 2px solid brown;*/
	color: white;
	font-size: 15px;
	padding: 5px;
	border-radius: 10%;
	margin-right: 10px;
	margin-bottom: 0px;
}
.HomeDate {
	background-color: white;
	/*border: 2px solid brown;*/
	color: black;
	font-size: 15px;
	padding: 2px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#homeLike {
	margin-left: 5px;
	font-size: 15px;
}