.Home {
	position: relative;
	text-align: center;
	box-shadow: 0vh 0vh 0.3vh 0vh rgb(0, 0, 0);
}
.Introduction{
	position: absolute;
	height: 60vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.01);
	color: rgba(255, 255, 255, 1);
}
.Introduction div{
	margin: 45vh 0vw 0vh 60vw;
	width: 30vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: 1px solid black;
}
#content-part{
	text-align: center;
	font-size: 3em;
	font-weight: 500;
}
#get-start-part{
	padding: 2px 5px 2px 5px;
	font-size: 1.5em;;
	background-color: rgba(158, 62, 126, 0.445);
	border: 0.5px solid rgb(255, 255, 255);
	border-radius: 0.8vh;
	box-shadow: 0vh 0vh 0vh 0vh rgb(0, 0, 0);
	outline: none;
}
#get-start-part:hover{
	cursor: pointer;
}
.Home-main-picture{
	content: url('../../picture/mainPicture/sketch4_resize.jpg');
	height: 60vh;
	width: 100%;
	margin: 0vh 0vh 3vh 0vh;
	box-shadow: 0vh -0.3vh 1vh 0vh rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.13);
}
.MainContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.CitiesList {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 1400px;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px;
	/*border: 2px solid red;*/
}
.button {
	background-color: black;
	color:white;
	font-size: 17px;
	align-items: center;
	justify-content: center;
	padding:10px;
	border-color: gray;
	border-width: 2px;
	border-radius: 20%;
	width: 170px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.button:hover {
	border-color: transparent !important;
	background-color: gray;
}
.button:focus {
	background-color: white;
	color: black;
}
.google-map{
	width: 50%;
	/* border: 1px solid black; */
}

.Trending {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: black;
	width: 1400px;
	height: 50px;
	font-size: 30px;
	text-align: left;
	margin-top: 20px;
	/*border: 2px solid green;*/
}
#homehr {
	color: black;
	background-color: black;
	height: 1px;
	width: 1400px;
	margin-top: 0px;
	margin-bottom: 10px;
}
.TrendingStories {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 1400px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}


/*
.HomeStories {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: 0px solid red;
	width: 680px;
	height: 200px;
}
.HomeAuthor {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border: 0px solid blue;
	width: 680px;
}
.HomeStoryTitle {
	background-color: white;
	text-align: left;
	font-size: 27px;
	color: black;
	border: 0px solid green;
	align-self: flex-start;
	margin: 0px;
}
.HomeStoryTitle:hover {
	background-color: white;
	outline: none;
	border: 0px solid green;
}
.HomeStoryTitle:focus {
	background-color: white;
	outline: none;
	border: 0px solid green;
}
.HomeStoryTitle:active {
	background-color: white;
	outline: none;
	border: 0px solid green;
}
.HomeStoryTitle:visited {
	background-color: white;
	outline: none;
	border: 0px solid green;
}
.HomeStoryIntro {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	font-size: 15px;
	border: 2px solid black;
	margin: 0px;
	width: 680px;
	height: 70px;
}
.HomeDateAndTag {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0px solid green;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}
.HomeTag {
	background-color: black;
	border: 0px solid brown;
	color: white;
	font-size: 15px;
	padding: 5px;
	border-radius: 10%;
	margin-right: 10px;
	margin-bottom: 0px;
}
.HomeDate {
	background-color: white;
	border: 0px solid brown;
	color: black;
	font-size: 15px;
	padding: 2px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#homeLike {
	margin-left: 5px;
	font-size: 15px;
}*/


.HomeReadmore {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: white;
	font-size: 15px;
	color: #A9A9A9;
	padding: 5px;
	border: 0px solid blue;
	position: relative;
	right: -650px;
	margin-bottom: 20px;
}
.HomeReadmore:hover {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: black;
	background-color: white;
}