.Editor {
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 100vh;
	font-size: 15px;
	margin-bottom: -200px;
	/* box-shadow: 0vh 0vh 0.3vh 0vh rgb(0, 0, 0); */
	transition: 0.25s;
}
.Editor-light, .Editor-light H1, .Editor-light H2, .Editor-light H3{
	color: rgb(0, 0, 0) !important;
}
.Editor-dark, .Editor-dark H1, .Editor-dark H2, .Editor-dark H3{
	color: rgb(255, 255, 255) !important;
}
.editor-part{
	width: 60%;
	/* border: 1px solid blue; */
}
.top-part{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding-top: 3vh;
	padding-bottom: 2vh;
	margin-top: 5vh;
	border-bottom: 1.5px solid;
}
#light{
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background-color: rgb(197, 197, 197);
}