.publish{
	margin-right: 10px;
	width: fit-content;
}
#publish-button{
    padding: 3px 15px 3px 15px;
    border-radius: 3px;
    background-color: rgb(141, 65, 65);
	color: rgb(255, 255, 255);
}
#publish-button:hover{
    cursor: pointer;
	background-color: rgb(148, 44, 44);
}
#save-state{
    padding: 3px 15px 3px 15px;
	color: rgb(172, 172, 172);
}
.prepublish-part{
	z-index: 2;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-color: rgba(39, 39, 39, 0.445);
	/* transform: scale(0); */
	transition: 0.2s;
}
.interface-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
	outline: none;
	height: 50vh;
	width: 70vh;
	border-radius: 1.5vh;
	background-color: rgb(255, 255, 255);
	box-shadow: 0vh 0vh 3vh -1vh rgb(182, 179, 179);
}
.publish-button{
	padding: 4px 10px 4px 10px;
	outline: none;
    border-radius: 3px;
    margin-right: 15px;
	color: rgb(255, 255, 255);
	background-color: rgb(6, 122, 10);
	box-shadow: 0vh 0vh 3vh -1vh rgb(182, 179, 179);
}
.publish-button:hover{
	cursor: pointer;
	background-color: rgb(3, 117, 7);
}
.explain{
    margin-left: 3%;
    width: 60%;
    color: rgb(100, 100, 100);
    font-size: 1.01em;
}
.top-banner{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    height: 15%;
    width: 95%;
    border-bottom: 1px solid rgb(151, 151, 151);
}
.content-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 75%;
    width: 95%;
    margin-top: 10px;
    border-bottom: 1px solid rgb(151, 151, 151);
}
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    width: 95%;
}
.choose-bar{
    margin-left: 10px;
    height: 40px;
    width: 20%;
    text-align: center;
    line-height: 40px;
    /* border: 1px solid black; */
    font-size: 1.3em;
    color:  rgb(122, 122, 122);
}
.choose-bar:hover{
    cursor: pointer;
    color: rgb(32, 32, 32) !important;
}
.click{
    color: rgb(92, 161, 168);
    border-bottom: 2.5px solid  rgb(114, 216, 230);
}
.topic-fill{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    /* border: 1px solid rgb(153, 25, 25); */
}
.topic-fill textarea{
    padding-top: 6px;
    padding-left: 10px;
    height: 40px;
    width: 90%;
    border: none; /* <-- This thing here */
    border:solid 1px #ccc;
    font-size: 1.2em;
    outline: none;
    color: rgb(116, 116, 116);
    border-radius: 0.7vh 0.7vh 0.7vh 0.7vh;
}
.introduction-fill{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    /* border: 1px solid rgb(53, 25, 153); */
}
.introduction-fill textarea{
    margin-top: -6px;
    padding-left: 10px;
    height: 90%;
    width: 90%;
    border: none; /* <-- This thing here */
    border:solid 1px #ccc;
    font-size: 1.2em;
    outline: none;
    color: rgb(116, 116, 116);
    border-radius: 0.7vh 0.7vh 0.7vh 0.7vh;
}
.tag-fill{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    
    /* border: 1px solid rgb(153, 25, 25); */
}
.tag-fill input{
    padding-left: 10px;
    height: 40px;
    width: 90%;
    border: none; /* <-- This thing here */
    border:solid 1px #ccc;
    font-size: 1.2em;
    outline: none;
    color: rgb(116, 116, 116);
    border-radius: 0.7vh 0.7vh 0.7vh 0.7vh;
}
.tag-list{
    height: 70%;
    width: 90%;
    /* border: 1px solid rgb(17, 201, 139); */
    overflow: scroll;
}
.tag{
    display: inline-block;
    margin: 3px;
    width: fit-content;
    background-color: rgba(231, 231, 231, 0.795);
    border-radius: 4px;
}
.tag span{
    color:rgb(0, 0, 0);
    font-size: 1.2em;
    padding: 2px 10px 0px 10px;
}
.delete-tag{
    font-weight: 800;
    font-size: 500em;
}
.delete-tag:hover{
    cursor: pointer;
}
.picture-fill{
    padding-left: 10px;
    height: 40px;
    width: 90%;
    border: none; /* <-- This thing here */
    /* border:solid 1px #ccc; */
    font-size: 1.2em;
    outline: none;
    color: rgb(116, 116, 116);
    overflow: hidden;
    /* border-radius: 0.7vh 0.7vh 0.7vh 0.7vh; */
}
.picture-show{
    height: 75%;
    width: 80%;
    /* border: 1px solid red; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
