.body{
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
	background-color: #fff;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
.APP-topBanner{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 10vh;
	width: 100%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0vh -0.1vh 0.5vh 0vh rgb(156, 150, 150);
}
.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;
	/* width: 500px; */
	margin: auto;
}

.App-title {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 255, 255);
}

.App-title h1 {
	margin: 0;
	margin-right: 20px;
	font-size: 3em;
}

.App-messages {
	width: 100%;
	height: 300px;
	background: #eeeeee52;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
	overflow: auto;
}
